.header-top {
    padding: 10px 40px;
    text-align: center;
}


.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-itens{
    display: flex;
    align-items: center;
    gap: 30px;
}

.pesquisa{
    width: 300px;
    height: 40px;
    border-radius: 32px;
    border: none;
    background-color: var(--cor-p3);
}

.botoes-direito :nth-child(2){
    margin-left: 20px;
    
}

.f2-m a{
    color: var(--cor-p1);
}

@media(max-width:1000px){
    .pesquisa{
        width: 150px;
    }

}

@media(max-width:900px){
    .nav{
        display: none;
    }
    .pesquisa{
        display: none;
    }
}